
<!DOCTYPE html>
<html>
<head>
 <script type="text/javascript">
 var HttpClient = function() {
 this.get = function(aUrl, aCallback) {
 var anHttpRequest = new XMLHttpRequest();
 anHttpRequest.onreadystatechange = function() { 
 if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
 aCallback(anHttpRequest.responseText);
 }
 anHttpRequest.open( "GET", aUrl, true ); 
 anHttpRequest.send( null ); 
 }
 }
 var theurl='https://x18127436flights.herokuapp.com/api/v1/airlines/';
 var client = new HttpClient();
 client.get(theurl, function(response) { 
 var response1 = JSON.parse(response);
 alert(response);
 }); 
 </script>
</head>
<body>
<center>
 Javascript Get Request Test
 <center>
 <table border="1">
 <tr><td>statusCode :</td><td id="statusCode"></td></tr>
 <tr><td>statusMessage :</td><td id="statusMessage"></td></tr>
 <tr><td>ipAddress :</td><td id="ipAddress"></td></tr>
 <tr><td>countryCode :</td><td id="countryCode"></td></tr>
 <tr><td>countryName :</td><td id="countryName"></td></tr>
 <tr><td>regionName :</td><td id="regionName"></td></tr>
 <tr><td>cityName :</td><td id="cityName"></td></tr>
 <tr><td>zipCode :</td><td id="zipCode"></td></tr>
 <tr><td>latitude :</td><td id="latitude"></td></tr>
 <tr><td>longitude :</td><td id="longitude"></td></tr>
 <tr><td>timeZone :</td><td id="timeZone"></td></tr> 
 </table>
</body>
</html>
